{% extends "base.html" %}
{% load static %}
{% block title %}View Customer Details{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "base.css" %}">
{% endblock %}

{% block body %}
    <div class="card col-md-6 offset-md-4 text-center" style="width: 25rem; height: fit-content;">
        <img src="{% static customer.image %}" class="card-img-top" alt="{% comment %}{{ customer.first_name|add: 'profile image' }}{% endcomment %}">
        <div class="card-body">
            {{ customer.created_at }}
            <h5 class="card-title">{{ customer.title }} {{ customer.first_name }} {{ customer.last_name }}</h5>
            <hr>
        </div>
        <div class="card-body">
            <p class="card-text">{{ customer.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ customer.email }}</li>
            <li class="list-group-item">{{ customer.phone }}</li>
            <li class="list-group-item">{{ customer.address }} {{ customer.city }} {{ customer.region }} {{ customer.country }}</li>
        </ul>
        <div class="card-body">
            <button class="btn btn-warning h-50" style="background-color: limegreen;" >
                <a href="{% url 'edit' customer.id %}" class="card-link" style="color: black; text-decoration: none; font-weight: bold;">Edit Customer</a>
            </button>
            <button class="btn btn-danger h-50" style="background-color: crimson;">
                <a href="{% url 'delete' customer.id %}" class="card-link" style="color: black; text-decoration: none; font-weight: bold;">Delete Customer</a>
            </button>
        </div>
    </div>
{% endblock %}